<footer class="footer">
    <a href="#top" class="footer__button"><img src="/images/Copia de ico-arrow.svg" alt="scroll up" class="footer__button--img"></a>
    <div class="footer__list">
      <ul class="footer__list--1">
        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                ARTICLES
            </a>
        </li>

        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                BOOKS
            </a>
        </li>

        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                EVENTS
            </a>
        </li>

        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                REASONS
            </a>
        </li>

        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                TIPS
            </a>
        </li>
      </ul>

      <ul class="footer__list--2">
        <li>
            <a href="https://adalab.es/" class="footer__list--links">
                TWITTER
            </a>
        </li>

        <li >
            <a href="https://adalab.es/" class="footer__list--links">
                INSTAGRAM
            </a>
        </li>

        <li >
            <a href="https://adalab.es/" class="footer__list--links">
                MASTODON.SOCIAL
            </a>
        </li>
      </ul>

      <ul class="footer__list--3">
        <li class="footer__list--copy">&copy; 2022</li>
        <li class="footer__list--copy">we <i class="fa-solid fa-heart"></i> components</li>
      </ul>
    </div>
</footer>